@font-face {
	font-family: 'Helvetica Now';
	src: url('../fonts/helvetica-now/bold.eot');
	src: url('../fonts/helvetica-now/bold.eot?#iefix') format('embedded-opentype'),
		url('../fonts/helvetica-now/bold.woff2') format('woff2'),
		url('../fonts/helvetica-now/bold.woff') format('woff'),
		url('../fonts/helvetica-now/bold.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
	font-stretch: normal;
}
@font-face {
	font-family: 'Helvetica Now';
	src: url('../fonts/helvetica-now/regular.eot');
	src: url('../fonts/helvetica-now/regular.eot?#iefix') format('embedded-opentype'),
		url('../fonts/helvetica-now/regular.woff2') format('woff2'),
		url('../fonts/helvetica-now/regular.woff') format('woff'),
		url('../fonts/helvetica-now/regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
	font-stretch: normal;
}
@font-face {
	font-family: 'Trade Gothic';
	src: url('../fonts/trade-gothic/bold.eot');
	src: url('../fonts/trade-gothic/bold.eot?#iefix') format('embedded-opentype'),
		url('../fonts/trade-gothic/bold.woff2') format('woff2'),
		url('../fonts/trade-gothic/bold.woff') format('woff'),
		url('../fonts/trade-gothic/bold.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
	font-stretch: normal;
}
@font-face {
	font-family: 'Trade Gothic';
	src: url('../fonts/trade-gothic/regular.eot');
	src: url('../fonts/trade-gothic/regular.eot?#iefix') format('embedded-opentype'),
		url('../fonts/trade-gothic/regular.woff2') format('woff2'),
		url('../fonts/trade-gothic/regular.woff') format('woff'),
		url('../fonts/trade-gothic/regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
	font-stretch: normal;
}

:root {
	--ff-text: 'Helvetica Now', Helmet, Freesans, Arial, sans-serif;
	--ff-head: 'Trade Gothic', Helmet, Freesans, Arial, sans-serif;
	--fs-head: 21px;
	--color-bg: #FBFBFB;
}

html {
	box-sizing: border-box;
}

*,
*::before,
*::after {
	box-sizing: inherit;
}

body {
	font: 14px var(--ff-text);
	background-color: var(--color-bg);
	line-height: 1.15;
	position: relative;
}

a { color: black; text-decoration: none }
a:hover { color: black }
a:link { -webkit-tap-highlight-color: transparent } 

::-moz-selection { background-color: black; color: white; text-shadow: none }
::selection { background-color: black; color: white; text-shadow: none } 

::-webkit-input-placeholder { transition: opacity .1s cubic-bezier(.2, .84, .83, 1.01); color: black }
::-moz-placeholder { transition: opacity .1s cubic-bezier(.2, .84, .83, 1.01); color: black }
:-ms-input-placeholder { transition: opacity .1s cubic-bezier(.2, .84, .83, 1.01); color: black }
:-moz-placeholder { transition: opacity .1s cubic-bezier(.2, .84, .83, 1.01); color: black }

input:-moz-placeholder { color: black }
textarea:-moz-placeholder { color: black }

img,
svg {
	vertical-align: bottom;
	max-width: 100%;
}

.ref-svg {
	position: fixed;
	left: -200vw;
}



.head {
	font-family: var(--ff-head);
	letter-spacing: .2px;
	font-weight: bold;
	font-size: var(--fs-head);
}



.knot {

}
.knot-shape .line {
	stroke: #525252;
	stroke-width: .25;
	stroke-miterlimit: 10;
}
.knot-shape .st1 {
	fill: #009f3d;
}
.knot-shape .st2 {
	fill: #f4c300;
}
.knot-shape .st3 {
	fill: #df0024;
}
.knot-shape .st4 {
	fill: #0085c7;
}



/* start landing */
.landing {
	justify-content: center;
	align-items: center;
	text-align: center;
	position: absolute;
	overflow: hidden;
	display: flex;
	height: 100vh;
	width: 100%;
	left: 0;
	top: 0;

	visibility: hidden;
}
.landing .btn.enter {
	display: inline-block;
	position: relative;
}
.landing .btn.enter::before {
	background-color: black;
	position: absolute;
	content: ' ';
	bottom: -5px;
	height: 3px;
	width: 100%;
	left: 0;
}
.landing .desc {
	line-height: 1.55;
	max-width: 430px;
}
.landing .link {
	transform: translateX(-50%);
	position: absolute;
	bottom: 55px;
	left: 50%;
}

.landing .musubi {
	margin-bottom: 56px;
	position: relative;
	margin-top: 42px;
}
.landing .musubi .line {
	position: absolute;
	height: 100%;
	width: 100%;
	left: 0;
	top: 0;
}
.landing .musubi .line::before,
.landing .musubi .line::after {
	background: /*url('../images/line.svg') */repeat-x;
	position: absolute;
	content: ' ';
	height: 100%;
	width: 200vw;
	top: 0;
}
.landing .musubi .line::before {
	background-image: url('../images/line-left.svg');
	right: 50%;
}
.landing .musubi .line::after {
	background-image: url('../images/line-right.svg');
	left: 50%;
}
.landing .knot {
	position: relative;
}
/* end landing */



/* start main */
.main {
	position: absolute;
	padding: 55px;
	height: 100vh;
	width: 100%;
	left: 0;
	top: 0;
}
.main .contain {
	position: relative;
	height: 100%;
}
.main .btn-create {
	background-color: #FFFF00;
	padding: 24px 20px 16px;
	text-align: center;
	position: absolute;
	min-width: 150px;
	cursor: pointer;
	line-height: 1;
	right: 0;
	top: 0;

}
.main .link {
	position: absolute;
	bottom: 0;
	right: 0;
}
/* end main */


/*#globe {
	transition: opacity .9s ease-out, visibility .9s ease-out;
	transition-timing-function: cubic-bezier(.2, .84, .83, 1.01), cubic-bezier(.2, .84, .83, 1.01);
	transform: translate(-50%, -50%);
	visibility: hidden;
	max-height: 50vh;
	position: fixed;
	width: 100%;
	opacity: 0;
	left: 50%;
	top: 50%;

	visibility: visible;
	opacity: 1;
}
#globe:before {
	padding-top: 100%;
	display: block;
	content: ' ';
	width: 100%;
}*/
#globeSvg {
	transform: translate(-50%, -50%);
	vertical-align: top;
	position: absolute;
	max-width: 100%;
	height: auto;
	width: 840px;
	left: 50%;
	top: 50%;
}
#globe .graticule,
#globe .outline {
	stroke-opacity: 1;
	stroke: #eee;
	fill: none;
}
#globe .outline {
	pointer-events: all;
}
