@font-face {
	font-family: 'Helvetica Now';
	src: url('../fonts/helvetica-now/bold.eot');
	src: url('../fonts/helvetica-now/bold.eot?#iefix') format('embedded-opentype'),
		url('../fonts/helvetica-now/bold.woff2') format('woff2'),
		url('../fonts/helvetica-now/bold.woff') format('woff'),
		url('../fonts/helvetica-now/bold.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
	font-stretch: normal;
}
@font-face {
	font-family: 'Helvetica Now';
	src: url('../fonts/helvetica-now/regular.eot');
	src: url('../fonts/helvetica-now/regular.eot?#iefix') format('embedded-opentype'),
		url('../fonts/helvetica-now/regular.woff2') format('woff2'),
		url('../fonts/helvetica-now/regular.woff') format('woff'),
		url('../fonts/helvetica-now/regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
	font-stretch: normal;
}
@font-face {
	font-family: 'Trade Gothic';
	src: url('../fonts/trade-gothic/bold.eot');
	src: url('../fonts/trade-gothic/bold.eot?#iefix') format('embedded-opentype'),
		url('../fonts/trade-gothic/bold.woff2') format('woff2'),
		url('../fonts/trade-gothic/bold.woff') format('woff'),
		url('../fonts/trade-gothic/bold.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
	font-stretch: normal;
}
@font-face {
	font-family: 'Trade Gothic';
	src: url('../fonts/trade-gothic/regular.eot');
	src: url('../fonts/trade-gothic/regular.eot?#iefix') format('embedded-opentype'),
		url('../fonts/trade-gothic/regular.woff2') format('woff2'),
		url('../fonts/trade-gothic/regular.woff') format('woff'),
		url('../fonts/trade-gothic/regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
	font-stretch: normal;
}

:root {
	/* font */
	--ff-text: 'Helvetica Now', Helmet, Freesans, Arial, sans-serif;
	--ff-head: 'Trade Gothic', Helmet, Freesans, Arial, sans-serif;

	/* font size */
	--fs-head: 21px;
	--fs-main: 14px;
	--fs-large: 16px;
	--fs-small: 12px;
	--fs-mlarge: 23px;
	--fs-hlarge: 30px;
	--fs-xlarge: 36px;

	/* color */
	--color-bg: #fff;
	--color-fg: black;
	--color-gray: #B3B3B3;

	/* var */
	--edge: 55px;

	/* ease */
	--easeOutCubic: cubic-bezier(0.215, 0.61, 0.355, 1);
}
@media only screen and (max-height: 840px) {
	:root {
		--edge: 30px;
	}
}
@media only screen and (max-width: 500px) {
	:root {
		--edge: 21.5px;
		--fs-hlarge: 20px;
		--fs-xlarge: 26px;
		--fs-head: 15.4px;
		--fs-mlarge: 18px;
	}
}

html {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-ms-scroll-chaining: none;
	overscroll-behavior: none;
	box-sizing: border-box;
}
html.dark-mode {
	--color-bg: #363636;
	--color-fg: white;
}

*,
*::before,
*::after {
	box-sizing: inherit;
}

body {
	/*transition: background-color 1.2s ease-out;
	transition-timing-function: var(--easeOutCubic);*/
	font-family: var(--ff-text);
	font-size: var(--fs-main);
	background-color: white;
	line-height: 1.15;
	position: relative;
	color: var(--color-fg);
	overflow: hidden;
}
body:-webkit-full-screen {
	background-color: white;
}
body:-moz-full-screen {
	background-color: white;
}
body:-ms-fullscreen {
	background-color: white;
}
body:fullscreen {
	background-color: white;
}

a { color: var(--color-fg); text-decoration: none }
html:not(.touchevents) a:hover { color: var(--color-fg) }
a:link { -webkit-tap-highlight-color: transparent } 

::-moz-selection { background-color: var(--color-fg); color: var(--color-bg); text-shadow: none }
::selection { background-color: var(--color-fg); color: var(--color-bg); text-shadow: none } 

::-webkit-input-placeholder { color: var(--color-gray); opacity: .5 }
::-moz-placeholder { color: var(--color-gray); opacity: .5 }
:-ms-input-placeholder { color: var(--color-gray); opacity: .5 }
:-moz-placeholder { color: var(--color-gray); opacity: .5 }

input:-moz-placeholder { color: var(--color-gray); opacity: .5 }
textarea:-moz-placeholder { color: var(--color-gray); opacity: .5 }

p {
	margin: 0;
}

img,
svg {
	vertical-align: bottom;
	max-width: 100%;
}

.ref-svg {
	position: fixed;
	left: -200vw;
}
.logo.amnesty .st0,
.logo.amnesty .st1 {
	transition: fill .15s ease-out;
}
.logo.amnesty .st0 {
	fill: var(--color-fg);
}
.logo.amnesty .st1 {
	fill: var(--color-bg);
}
html:not(.touchevents) .logo.amnesty:hover .st0 {
	fill: #FFFF00;
}
html:not(.touchevents) .logo.amnesty:hover .st1 {
	fill: black;
}



.head {
	font-family: var(--ff-head);
	letter-spacing: .2px;
	font-weight: bold;
	font-size: var(--fs-head);
}
@media only screen and (max-width: 500px) {
	.head {
		letter-spacing: 0;
	}
}



.knot {

}
.knot-shape {

}
.knot-shape .st1,
.knot-shape .st2,
.knot-shape .st3,
.knot-shape .st4 {
	transition: fill 3s ease-out, stroke 3s ease-out;
	transition-timing-function: var(--easeOutCubic);
	fill: #fff;
	stroke: #525252;
	stroke-width: .25;
}
.colorful .knot-shape .st1,
.colorful .knot-shape .st2,
.colorful .knot-shape .st3,
.colorful .knot-shape .st4 {
	stroke: none;
}
.colorful .knot-shape .st1 {
	fill: #009f3d;
}
.colorful .knot-shape .st2 {
	fill: #f4c300;
}
.colorful .knot-shape .st3 {
	fill: #df0024;
}
.colorful .knot-shape .st4 {
	fill: #0085c7;
}



/* start landing */
section.landing {
	background-color: var(--color-bg);
	justify-content: center;
	align-items: center;
	text-align: center;
	position: fixed;
	overflow: hidden;
	display: flex;
	height: 100vh;
	width: 100%;
	left: 0;
	top: 0;

	/*visibility: hidden;*/
}
section.landing .contain {
	padding-bottom: 2.5%;
}
section.landing .btn.enter {
	display: inline-block;
	padding: 40px 60px;
	cursor: pointer;
	line-height: 1;
	visibility: hidden;
}
section.landing .btn.enter .inner {
	border: 1px solid var(--color-fg);
	padding-bottom: 15px;
	text-align: center;
	position: relative;
	padding-top: 24px;
	width: 150px;
}
html.is-win section.landing .btn.enter .inner {
	padding-bottom: 18px;
	padding-top: 21px;
}
@media only screen and (max-width: 500px) {
	section.landing .btn.enter .inner {
		padding-top: 22px;
	}
}
section.landing .btn.enter .inner::before {
	transition: transform .25s ease-out;
	transition-timing-function: var(--easeOutCubic);
	background-color: var(--color-fg);
	transform-origin: bottom;
	transform: scaleY(0);
	position: absolute;
	content: ' ';
	height: 100%;
	width: 100%;
	left: 0;
	top: 0;
}
html:not(.touchevents) section.landing .btn.enter:hover .inner::before {
	transform: scale(1);
}
section.landing .btn.enter .text {
	transition: color .25s ease-out;
	transition-timing-function: var(--easeOutCubic);
	position: relative;
}
html:not(.touchevents) section.landing .btn.enter:hover .text {
	color: var(--color-bg);
}
section.landing .desc {
	line-height: 1.55;
	max-width: 464px;
}

section.landing .musubi {
	margin-bottom: 14px;
	position: relative;
	margin-top: 42px;
}
section.landing .musubi .line,
section.landing .musubi .line-color {
	position: absolute;
	height: 100%;
	width: 100%;
	left: 0;
	top: 0;
}
section.landing .musubi .line::before,
section.landing .musubi .line::after,
section.landing .musubi .line-color::before,
section.landing .musubi .line-color::after {
	background: url('../images/line.svg') repeat-x;
	position: absolute;
	content: ' ';
	height: 100%;
	width: 50vw;
	top: 0;
}
section.landing .musubi .line::before {
	right: 50%;
}
section.landing .musubi .line::after {
	left: 50%;
}
section.landing .musubi .line-color::before,
section.landing .musubi .line-color::after {
	transition: transform 1.2s ease-out;
	transition-timing-function: var(--easeOutCubic);
	transform: scaleX(0);
}
section.landing .musubi .line-color::before {
	background-image: url('../images/line-left.svg');
	transform-origin: left;
	right: 50%;
}
section.landing .musubi .line-color::after {
	background-image: url('../images/line-right.svg');
	transition-delay: .1s;
	transform-origin: right;
	left: 50%;
}
section.landing .musubi.colorful .line-color::before,
section.landing .musubi.colorful .line-color::after {
	transform: scaleX(1);
}
section.landing .knot2 {
	position: relative;
	/*width: 80vw;*/
}
section.landing .knot2 .st1,
section.landing .knot2 .st2,
section.landing .knot2 .st3,
section.landing .knot2 .st4 {
	transition: fill 3s ease-out 1.3s/*, stroke 3s ease-out 1.3s*/;
	transition-timing-function: var(--easeOutCubic);
	fill: #fff;
	stroke: #525252;
	stroke-width: .25;
}
section.landing .musubi.colorful g.center .st1,
section.landing .knot-shape2 .color .st1 {
	fill: #009f3d;
}
section.landing .musubi.colorful g.center .st2,
section.landing .knot-shape2 .color .st2 {
	fill: #f4c300;
}
section.landing .musubi.colorful g.center .st3,
section.landing .knot-shape2 .color .st3 {
	fill: #df0024;
}
section.landing .musubi.colorful g.center .st4,
section.landing .knot-shape2 .color .st4 {
	fill: #0085c7;
}
section.landing .knot-shape2 .color ellipse {
	transition: stroke-dashoffset 1s ease-out .8s;
	fill: none;
}
section.landing .knot-shape2 .left-top.color ellipse {
	stroke-dasharray: 400;
	stroke-dashoffset: 400;
}
section.landing .musubi.colorful .left-top.color ellipse {
	stroke-dashoffset: 290;
}
section.landing .knot-shape2 .right-top.color ellipse {
	transition-delay: .9s;
	stroke-dasharray: 200;
	stroke-dashoffset: 290;
}
section.landing .musubi.colorful .right-top.color ellipse {
	stroke-dashoffset: 390;
}
section.landing .knot-shape2 .color .ct1 {
	stroke: #009f3d;
}
section.landing .knot-shape2 .color .ct2 {
	stroke: #f4c300;
}
section.landing .knot-shape2 .color .ct3 {
	stroke: #df0024;
}
section.landing .knot-shape2 .color .ct4 {
	stroke: #0085c7;
}
/*#clipLeftBottom rect {
	transition: transform 1s ease-out .8s;
}
html.landing-in #clipLeftBottom rect {
	transform: rotate(-45 27.313 57.409) translate(0 0);
}*/
@media only screen and (min-width: 501px) {
	section.landing .link {
		transform: translateX(-50%);
		position: absolute;
		bottom: 55px;
		left: 50%;
	}
}
@media only screen and (max-width: 500px) {
	section.landing {
		position: absolute;
		padding-bottom: 40px;
		padding-top: 40px;
		overflow: auto;
		display: block;
	}
	section.landing .desc {
		padding: 0 12px;
	}
	section.landing .musubi .line::before,
	section.landing .musubi .line::after,
	section.landing .musubi .line-color::before,
	section.landing .musubi .line-color::after {
		transform: scaleY(.82);
		top: -8%;
	}
	section.landing .musubi .line-color::before,
	section.landing .musubi .line-color::after {
		transform: scaleY(.82) scaleX(0);
	}
	section.landing .musubi.colorful .line-color::before,
	section.landing .musubi.colorful .line-color::after {
		transform: scaleY(.82) scaleX(1);
	}
	section.landing .knot2 {
		width: 82px;
	}
}
/* end landing */



/* start about */
section.about {
	background-color: var(--color-bg);
	position: fixed;
	padding: var(--edge);
	overflow: auto;
	height: 100vh;
	width: 100%;
	left: 0;
	top: 0;

	visibility: hidden;
	opacity: 0;
}
section.about .contain {
	max-width: 460px;
	margin-right: auto;
	margin-left: auto;
	padding: 22vh 0;
}
section.about h2 {
	font-size: var(--fs-xlarge);
	font-weight: bold;
	margin: 0 0 32px;
}
section.about p {
	text-align: justify;
	line-height: 1.5;
}
section.about p+p {
	margin-top: 15px;
}
section.about .gosign {
	/*display: inline-block;*/
	font-weight: bold;
	text-decoration: underline;
	cursor: pointer;
}
section.about .btns {
	display: none;
}
@media only screen and (max-width: 500px) {
	section.about .contain {
		padding-bottom: 40px;
		padding-top: 60px;
	}
	section.about .btns {
		padding-top: 40px;
		display: flex;
		justify-content: space-between;
	}
	section.about .btn.goback {
		border: 1px solid var(--color-fg);
		padding: 18px 15px 13px;
		text-align: center;
		min-width: 110px;
		cursor: pointer;
		line-height: 1;
	}
	section.about .link.amnesty {
		width: 110px;
		height: auto;
	}
}
/* end about */



/* start petition */
section.petition {
	background-color: var(--color-bg);
	position: fixed;
	padding: var(--edge);
	overflow: auto;
	height: 100vh;
	width: 100%;
	left: 0;
	top: 0;
	
	visibility: hidden;
	opacity: 0;
}
section.petition .contain {
	max-width: 380px;
	margin-right: auto;
	margin-left: auto;
}
section.petition .btns {
	display: none;
}
@media only screen and (max-width: 500px) {
	section.petition .contain {
		padding-bottom: 40px;
		padding-top: 40px;
	}
	section.petition .btns {
		padding-top: 40px;
		display: flex;
		justify-content: space-between;
	}
	section.petition .btn.goback {
		border: 1px solid var(--color-fg);
		padding: 18px 15px 13px;
		text-align: center;
		min-width: 110px;
		cursor: pointer;
		line-height: 1;
	}
	section.petition .link.amnesty {
		width: 110px;
		height: auto;
	}
}
/*section.petition {
	visibility: visible;
	opacity: 1;
}
section.petition iframe {
	display: block !important;
}
section.landing {
	display: none !important;
}*/
/* end petition */



#visual {
	background-color: white;
	position: fixed;
	z-index: -1;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}



/* start main */
section.main {
	--b: 0;
	position: fixed;
	padding: var(--b);
	height: 100vh;
	width: 100%;
	left: 0;
	top: 0;

	/*visibility: hidden;*/
}
@media only screen and (max-height: 840px) {
	section.main {
		--b: 0;
	}
}
section.main .contain {
	text-align: center;
	position: relative;
	height: 100%;
}
/* end main */



/* start parts */
#parts {
	/*visibility: hidden;*/
}
html.show-other #parts {
	pointer-events: none;
}
#parts .by {
	font-size: var(--fs-small);
	bottom: var(--edge);
	text-align: center;
	visibility: hidden;
	position: fixed;
	width: 100%;
	left: 0;
}
#parts .btn {
	border: 1px solid transparent;
	padding: 23px 15px 15px;
	text-align: center;
	position: fixed;
	min-width: 150px;
	cursor: pointer;
	line-height: 1;
	right: var(--edge);
	top: var(--edge);
	visibility: hidden;
}
html.is-win #parts .btn {
	padding-bottom: 18px;
	padding-top: 20px;
}
#parts .btn .inner {
	position: relative;
}
/*#parts .btn.create:not(.again),*/
#parts .btn.tosign {
	transition: color .25s ease-out;
	background-color: #FFFF00;
}
/*#parts .btn.create:not(.again):hover,*/
html:not(.touchevents) #parts .btn.tosign:hover {
	/*background-color: var(--color-fg);*/
	color: var(--color-bg);
}
#parts .btn.tosign::before {
	content: ' ';
	position: absolute;
	left: -1px;
	top: -1px;
	height: calc(100% + 2px);
	width: calc(100% + 2px);
	background-color: black;
	transform-origin: bottom;
	transform: scaleY(0);
	transition: transform .25s ease-out;
}
html:not(.touchevents) #parts .btn.tosign:hover::before {
	transform: scaleY(1);
}
#parts .btn.tosign {
	top: calc(var(--edge) + 90px);
}
#parts .btn.goback,
#parts .btn.tohome,
#parts .btn.create.again {
	border-color: var(--color-fg);
}
@media only screen and (max-width: 500px) {
	#parts .btn.goback {
		display: none;
	}
	#parts .btn {
		padding-bottom: 11px;
		padding-top: 16px;
		min-width: 110px;
	}
	html.is-win #parts .btn {
		padding-bottom: 14px;
		padding-top: 15px;
	}
	#parts .btn.create {
		bottom: var(--edge);
		top: auto;
	}
	#parts .btn.tohome {
		bottom: var(--edge);
		top: auto;
	}
	#parts .btn.tosign {
		top: calc(var(--edge) + 30px);
		left: var(--edge);
		right: auto;
	}
	/*html.at-page #parts .btn.tohome,
	html.at-page #parts .link.amnesty {
		display: none;
	}*/
}
#parts .btn.create.again {
	transition: color .25s ease-out;
}
html:not(.touchevents) #parts .btn.create.again:hover {
	color: white;
}
#parts .btn.create.again::before {
	content: ' ';
	position: absolute;
	left: 0;
	top: 0;
	height: 100%;
	width: 100%;
	background-color: black;
	transform-origin: bottom;
	transform: scaleY(0);
	transition: transform .25s ease-out;
}
html:not(.touchevents) #parts .btn.create.again:hover::before {
	transform: scaleY(1);
}
#parts .btn.tohome {
	transition: color .25s ease-out;
}
html:not(.touchevents) #parts .btn.tohome:hover {
	color: white;
}
#parts .btn.tohome::before {
	content: ' ';
	position: absolute;
	left: 0;
	top: 0;
	height: 100%;
	width: 100%;
	background-color: black;
	transform-origin: bottom;
	transform: scaleY(0);
	transition: transform .25s ease-out;
}
html:not(.touchevents) #parts .btn.tohome:hover::before {
	transform: scaleY(1);
}
#parts .btn.goback {
	transition: color .25s ease-out;
}
html:not(.touchevents) #parts .btn.goback:hover {
	color: black;
}
#parts .btn.goback::before {
	content: ' ';
	position: absolute;
	left: 0;
	top: 0;
	height: 100%;
	width: 100%;
	background-color: white;
	transform-origin: bottom;
	transform: scaleY(0);
	transition: transform .25s ease-out;
}
html:not(.touchevents) #parts .btn.goback:hover::before {
	transform: scaleY(1);
}

#parts .link.amnesty {
	position: fixed;
	bottom: var(--edge);
	right: var(--edge);
	visibility: hidden;
}

#parts .part-about {
	margin-bottom: -8px;
	text-align: left;
	position: fixed;
	bottom: var(--edge);
	left: var(--edge);
	visibility: hidden;
}
#parts .part-about .link.about {
	position: relative;
	cursor: pointer;
}
#parts .part-about .link.about::after {
	position: absolute;
	content: ' ';
	height: 100%;
	width: 100%;
	left: 0;
	top: 0;
}
#parts .part-about .hash-tags {
	font-size: var(--fs-main);
	padding-bottom: 16px;
	line-height: 1.4;
}
#parts .part-about .hash-tag {
	color: #767676;
}

#parts .part-site {
	text-align: left;
	position: fixed;
	top: var(--edge);
	left: var(--edge);
}
#parts .part-site-identity {
	align-items: flex-end;
	line-height: 1;
	display: flex;
}
#parts .part-site-identity .knot {
	margin-right: 10px;
	margin-top: -5px;
	width: 39px;
}
#parts .part-site .temp {
	margin-top: 30px;
	max-width: 260px;
	font-size: var(--fs-large);
	color: var(--color-gray);
	text-transform: uppercase;
	letter-spacing: .1px;
	line-height: 1.3;
}
@media only screen and (max-width: 500px) {
	#parts .part-site-identity {
		align-items: center;
		/*font-size: 15.4px;*/
	}
	#parts .part-site-identity .knot {
		margin-top: -4px;
		width: 28px;
	}
	#parts .part-about {
		/*font-size: 15.4px;*/
		top: var(--edge);
		right: var(--edge);
		bottom: auto;
		left: auto;
	}
	#parts .link.amnesty {
		width: 110px;
		right: auto;
		left: var(--edge);
	}
}



#parts .part-share {
	transform: translateY(-50%);
	left: var(--edge);
	position: fixed;
	top: 50%;
}
#parts .at-share-btn-elements {
	flex-direction: column;
	display: flex;
	display: none;
}
#parts .at-resp-share-element .at-share-btn {
	background-color: #E4E4E4 !important;
	border-radius: 100px !important;
	transition: none;
}
html:not(.touchevents) #parts .at-resp-share-element .at-share-btn:hover {
	background-color: #ddd !important;
}
#parts .at-resp-share-element .at-icon-wrapper {
	transform: scale(.85);
}
/* end parts */



#ballhandle {
	position: absolute;
	border-radius: 2000px;
	width: 67%;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	overflow: hidden;
}
#ballhandle.out {
	pointer-events: none;
}
#ballhandle::before {
	padding-top: 100%;
	content: ' ';
	display: block;
}



#frontSvger {
  -webkit-touch-callout: none; /* iOS Safari */
	-webkit-user-select: none; /* Safari */
	 -khtml-user-select: none; /* Konqueror HTML */
	   -moz-user-select: none; /* Old versions of Firefox */
		-ms-user-select: none; /* Internet Explorer/Edge */
			user-select: none; /* Non-prefixed version, currently
								  supported by Chrome, Opera and Firefox */
}
/*@media only screen and (min-height: 920px) {
	#frontSvger {
		transform: translate(-50%, -50%);
		position: absolute;
		left: 50%;
		top: 50%;
	}
}*/
@media only screen and (min-height: 841px) {
	#frontSvger {
		position: absolute;
		height: auto;
		width: 100%;
		left: 50%;
		transform: translate(-50%, -50%);
		top: 50%;
	}
}
@media only screen and (max-width: 1024px) {
	#frontSvger {
		width: auto;
	}
}
@media only screen and (max-width: 500px) {
	#frontSvger {
		position: relative;
		top: 50%;
		transform: translateY(-50%);
		/*width: 130%;
		left: -15%;*/
	}
}
#frontSvgOuter {
	/*background-color: rgba(100, 100, 100, 0.5);
	border-top: 5px solid red;
	border-radius: 2000px;
	overflow: hidden;*/
	transform-origin: center;
}
#frontSvgOuter.out {
	pointer-events: none;
}
#frontSvgOuter .draghandle {
	border-radius: 2000px;
	overflow: hidden;
	position: absolute;
	height: 100%;
	width: 100%;
	left: 0;
	top: 0;
}
#frontSvgOuter .draghandle.on {
	pointer-events: auto;
}



#front {
	/*overflow: hidden;*/
	max-width: 100%;
	width: 100vh;
	margin: auto;
		position: relative;
		top: -6%;
}
@media only screen and (min-height: 841px) {
	#front {
		transform: translate(-50%, -50%);
		position: absolute;
		left: 50%;
		top: 50%;
		height: 100%;
		max-height: 920px;
	}
}
@media only screen and (max-width: 500px) {
	#front {
		height: 100%;
		top: 0;
	}
}
/*@media only screen and (min-height: 841px) {
	#front {
		top: 0;
	}
}*/
#tempBg {
	background: url('../images/ball.jpg') no-repeat center center;
	background-size: contain;
	pointer-events: none;
	position: absolute;
	width: 85%;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);

	visibility: hidden;
	display: none;
}
#tempBg::before {
	content: ' ';
	display: block;
	padding-top: 100%;
}
#front .knot.good {
	transform: translateX(-50%);
	visibility: hidden;
	position: absolute;
	left: 50%;
	top: 31%;
}
@media only screen and (max-height: 900px) {
	#front .knot.good {
		top: 28%;
	}
}
@media only screen and (max-height: 700px) {
	#front .knot.good {
		top: 25%;
	}
}
@media only screen and (max-width: 500px) {
	#front .knot.good {
		top: 32%;
		width: 72px;
	}
}
@keyframes tune {
	to { transform: rotate(-360deg); }
}
#frontSvg {
	animation: tune 300s linear 0s infinite forwards;
	transform-origin: center;
	pointer-events: none;
	vertical-align: top;
	height: auto;
	width: 112%;
	max-width: none;
	position: relative;
	left: -6%;
	overflow: visible;
}
@media only screen and (min-height: 920px) {
	/*#frontSvg {
		width: 110%;
		left: -5%;
	}*/
	#frontSvg {
		width: 1024px;
		left: calc((100vh - 1024px) / 2);
	}
}
@media only screen and (min-height: 1024px) {
	#frontSvg {
		width: 1024px;
		left: 0;
	}
}
@media only screen and (max-width: 500px) {
	#frontSvg {
		width: 130%;
		left: -15%;
	}
}
#frontSvg .keywords {
	font-family: var(--ff-head);
	font-weight: bold;
	font-size: 14px;
	fill: #525252;
	-webkit-touch-callout: none; /* iOS Safari */
	-webkit-user-select: none; /* Safari */
	-khtml-user-select: none; /* Konqueror HTML */
	-moz-user-select: none; /* Old versions of Firefox */
	-ms-user-select: none; /* Internet Explorer/Edge */
	user-select: none;
}
#frontSvg .keyword {
}
#frontSvg .keywords:not(.disable) .keyword:not(.on) {
	transition: opacity .25s ease-out;
	pointer-events: auto;
	cursor: pointer;
}
html:not(.touchevents) #frontSvg .keywords:not(.disable) .keyword:not(.on):hover {
	opacity: .8;
}
#frontSvg .keyword.on {
	opacity: .25;
}
#frontSvg .keyword .text {
	transition: transform .25s ease-out;
	letter-spacing: .4px;
}
html:not(.touchevents) #frontSvg .keywords:not(.disable) .keyword:not(.on):hover .text {
	transform: translateX(-2px) scale(1.2);
}
@media only screen and (max-width: 500px) {
	#frontSvg .keywords {
		font-size: 30px;
	}
}



@keyframes drop1 {
	0% {
		transform: translate(0, 0) scale(0.8);
	}
	100% {
		transform: translate(28px, 8px) scale(0);
	}
}
@keyframes drop2 {
	0% {
		transform: translate(0, 0) scale(0.7);
	}
	100% {
		transform: translate(28px, -8px) scale(0);
	}
}
@keyframes go {
	to {
		transform: translateX(-12vw);
	}
}
#mobileDots {
	position: absolute;
	width: 85%;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%) rotate(30deg);
	/*visibility: hidden;*/
	overflow: hidden;
	display: none;
	border-radius: 1000px;
	pointer-events: none;
}
#mobileDots::before {
	content: ' ';
	display: block;
	padding-top: 100%;
}
#mobileDots .dot,
#mobileDots .dot span {
	position: absolute;
}
#mobileDots .dot {
	transform: translateX(88vw);
	top: 50%;
	left: 0;
	width: 22px;
    height: 16px;
	/*animation: rotate 6.9s linear infinite;*/
	
	/*animation-play-state: paused;*/
}
#mobileDots .dot.go {
	animation: go 20s linear;
	/*animation-play-state: running;*/
}
#mobileDots .dot span {
	pointer-events: none;
	left: 0;
	top: 50%;
	margin: -8px 0 0;
	width: 16px;
	height: 16px;
	display: block;
	background: var(--color);
	/*box-shadow: 2px 2px 8px rgba(255, 76, 96, 0.09);*/
	border-radius: 50%;
	/*transform: rotate(45deg);*/
	/*animation: move 6.9s linear infinite;*/
}
#mobileDots .dot span:before,
#mobileDots .dot span:after {
	content: "";
	position: absolute;
	display: block;
	border-radius: 50%;
	width: 14px;
	height: 14px;
	background: inherit;
	top: 50%;
	left: 50%;
	margin: -7px 0 0 -7px;
	box-shadow: inherit;
}
#mobileDots .dot span:before {
	animation: drop1 0.8s linear infinite;
}
#mobileDots .dot span:after {
	animation: drop2 0.8s linear infinite 0.4s;
}
@media only screen and (max-width: 500px) {
	#mobileDots {
		display: block;
	}
}



#gc {
	transform-origin: center;
	width: 76.5%;
	height: auto;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50.2%) rotate(-90deg);
}
@media only screen and (min-height: 901px) {
	#gc {
		width: auto;
		height: 690px;
	}
}
@media only screen and (max-width: 500px) {
	#gc {
		transform: translate(-50%, -50%) rotate(-90deg);
		width: 85%;
	}
}



#front .steps {
	transform: translate(-50%, -50%);
	pointer-events: none;
	position: absolute;
	width: 76%;
	left: 50%;
	top: 50%;
}
#front .steps::before {
	content: ' ';
	display: block;
	padding-top: 100%;
}
#front .step {
	visibility: hidden;
	pointer-events: auto;
}
#front .step:not(.select-word) {
	font-size: var(--fs-xlarge);
	transform: translate(-50%, -50%);
	position: absolute;
	left: 50%;
	top: 50%;
}
#front .step.select-word {
	/*margin-top: 13%;*/
}
#front .step[step="0"] .question {
	white-space: nowrap;
}
#front .step .line1,
#front .step .line2 {
	white-space: nowrap;
}
#front .step .answer {
	margin-top: 22px;
	display: inline-block;
	position: relative;
}
#front .step .answer.entered {
	padding-right: 30px;
}
#front .step .answer .icon-enter {
/*	background: url('../images/enter.svg') no-repeat center center;
	background-size: contain;*/
	object-fit: contain;
	/*visibility: hidden;*/
	/*-webkit-backface-visibility: hidden;
	backface-visibility: hidden;*/
	position: absolute;
	/*content: ' ';*/
	height: 100%;
	width: 21px;
	opacity: 0;
	right: 0;
	top: -6px;
}
html.is-win #front .step .answer .icon-enter {
	top: 1px;
}
#front .step .answer.entered .icon-enter {
	/*visibility: visible;*/
	cursor: pointer;
	opacity: 1;
}
#front .step .answer::after {
	background-color: var(--color-gray);
	position: absolute;
	content: ' ';
	left: 0;
	top: 100%;
	height: 1px;
	width: 100%;
	transform: scaleY(1.4);
	opacity: 0.6;
}
html.is-win #front .step .answer::after {
	margin-top: 5px;
}
#front .step .txtbox {
	background: none;
	outline: none;
	border: none;
	color: var(--color-gray);
	text-align: center;
	font-size: var(--fs-xlarge);
	width: 100%;
	padding: 0;
}
#front .step .txtbox::-webkit-list-button {
	display: none;
}
#front .step .txtbox::-webkit-calendar-picker-indicator {
	display: none;
}
#front .step .message p+p {
	margin-top: 12px;
}
#front .step[step="2"] .message {
	max-width: 390px;
	width: 80vw;
}
#front .sign-msg {
	font-size: 21px;
	font-weight: bold;
	visibility: hidden;
	display: none;
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	width: 80%;
	top: 48%;
}
@media only screen and (max-width: 500px) {
	#front .sign-msg {
		font-size: 18px;
		width: 70vw;
		top: 38%;
	}
}
/* iPhone */
@media only screen 
and (min-device-width: 375px) 
and (max-device-width: 896px) 
and (-webkit-min-device-pixel-ratio: 2) {
	#front .step .answer .txtbox {
		text-indent: 3px;
	}
}



#front .select-word .middle {
	/*justify-content: center;
	align-items: center;
	display: flex;
	height: 254px;*/
}
#front .selecteds {
	justify-content: center;
	display: flex;
	/*color: var(--color-gray);*/
	position: absolute;
	top: 54%;
	width: 100%;
	visibility: hidden;
	transform: translateY(-50%);
}
#front .selected {
	color: var(--color);
}
#front .selected-inner {
	position: relative;
	margin: 0 13px;
	padding-left: 18px;
}
#front .selected-inner::before {
	/*background-color: var(--color-gray);*/
	background-color: var(--color);
	position: absolute;
	content: ' ';
	bottom: -4px;
	height: 1px;
	width: 100%;
	left: 0;
}
#front .selected .text {
	font-size: var(--fs-mlarge);
}
#front .selected .close {
	transition: transform .25s ease-out;
	position: absolute;
	cursor: pointer;
	font-size: 0;
	height: 20px;
	width: 20px;
	left: 0;
	top: 4px;
}
html:not(.touchevents) #front .selected .close:hover {
	transform: scale(1.1);
}
#front .selected .close::before,
#front .selected .close::after {
	/*background-color: #9e9e9e;*/
	background-color: var(--color);
	display: block;
	content: ' ';
	height: 1px;
	width: 10px;
}
#front .selected .close::before {
	transform: translateY(9px) rotate(45deg);
}
#front .selected .close::after {
	transform: translateY(-11px) rotate(-45deg);
	margin-top: 19px;
}
#front .select-word .tips {
	position: absolute;
	color: black;
	/*top: 41%;*/
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	white-space: nowrap;
	font-size: var(--fs-mlarge);
	/*opacity: .25;*/
	/*transition: top .4s ease-out;*/
}
@media only screen and (max-width: 500px) {
	#front .select-word .tips {
		/*top: 35%;*/
	}
	#front .selecteds {
		/*top: 38%;*/
	}
	#front .selected .close {
		top: 0;
	}
}
/*#front .select-word.selecting .tips {
	top: 43%;
}*/
/*#front .select-word .tips::after {
	background-color: rgba(0, 0, 0, .25);
	position: absolute;
	content: ' ';
	height: 1px;
	width: 100%;
	top: 100%;
	left: 0;
}*/
#front .select-word .btn {
	transition: color .25s ease-out;
	transition-timing-function: var(--easeOutCubic);
	border: 1px solid black;
	padding: 23px 15px 15px;
	/*display: inline-block;*/
	display: none;
	text-align: center;
	min-width: 150px;
	cursor: pointer;
	line-height: 1;
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	top: 64%;
}
html.is-win #front .select-word .btn {
	padding-bottom: 18px;
	padding-top: 20px;
}
@media only screen and (max-width: 500px) {
	#front .select-word .btn {
		padding-bottom: 11px;
		padding-top: 16px;
		min-width: 110px;
		top: 68%;
	}
	html.is-win #front .select-word .btn {
		padding-bottom: 14px;
		padding-top: 15px;
	}
	#front .select-word .btn.create {
		top: 70%;
	}
}
#front .select-word .btn.next {
	transition: color .25s ease-out, opacity 2s ease-out;
	transition-timing-function: var(--easeOutCubic);
	/*transform: translateY(-175%);*/
}
#front .select-word .btn.next2 {
	/*margin-top: 70px;*/
	top: 72%;
}
@media only screen and (max-width: 500px) {
	#front .select-word .btn.next2 {
		/*margin-top: 26px;*/
	}
}
html:not(.touchevents) #front .select-word .btn:not(.disabled):hover {
	color: var(--color-bg);
}
#front .select-word .btn::before {
	transition: transform .25s ease-out;
	transition-timing-function: var(--easeOutCubic);
	background-color: var(--color-fg);
	transform-origin: bottom;
	transform: scaleY(0);
	position: absolute;
	content: ' ';
	height: calc(100% + 2px);
	width: calc(100% + 2px);
	left: -1px;
	top: -1px;
}
html:not(.touchevents) #front .select-word .btn:not(.disabled):hover::before {
	transform: scale(1);
}
#front .select-word .btn .text {
	position: relative;
}
/*#front .select-word .btn.next,
#front .select-word .btn.create,
#front .select-word .btn.sign {
}*/
#front .select-word .btn.sign {
	background-color: #ffff00;
	border-color: #ffff00;
	border-color: transparent;
	/*transform: translateY(-170%);*/
	/*margin-top: -10%;*/
	color: black;
}
#front .select-word .create-another { 
	cursor: pointer;
	color: var(--color-gray);
	text-decoration: underline;
	display: none;
	font-size: var(--fs-main);
	margin-top: 38px;
}
#front .select-word .btn.disabled {
	transition-duration: .25s, .4s;
	cursor: default;
	opacity: .25;
	opacity: 0;
}
/*#front .select-word .btn.show {
	display: inline-block;
}*/
#front .select-word .share {
	position: absolute;
	display: none;
	left: 50%;
    top: 63%;
    transform: translateX(-50%);
    white-space: nowrap;
}
/*#front .select-word .share.show {
	display: block;
}*/
#front .select-word .txt {
	vertical-align: middle;
	display: inline-block;
	color: rgba(0, 0, 0, .25);
	font-weight: bold;
	padding-right: 4px;
	font-size: 21px;
	padding-left: 8px;
}
#front .select-word .addthis_inline_share_toolbox {
	display: inline-block;
	vertical-align: middle;
}
#front .select-word .at-resp-share-element .at-share-btn {
	border-radius: 100px !important;
	transform: scale(.8);
	margin-bottom: 0;
	margin-right: 5px;
	margin-left: 5px;
}
#front .select-word .at-resp-share-element .at-share-btn.at-svc-facebook {
	background-color: #3A589B !important;
}
#front .select-word .at-resp-share-element .at-share-btn.at-svc-twitter {
	background-color: #598DCA !important;
}
#front .select-word .at-resp-share-element .at-share-btn.at-svc-linkedin {
	display: none;
}
#front .select-word .at-resp-share-element .at-share-btn .at-icon-wrapper {
	transform: scale(.8);
}
#front .select-word .result,
#front .select-word .prayers,
#front .select-word .textarea {
	display: none;
}
#front .select-word .prayers {
	padding-bottom: 25px;
	padding-top: 28px;
}
#front .select-word .result {
	font-size: var(--fs-hlarge);
	line-height: 1.2;
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	white-space: nowrap;
	top: 44%;
}
/*#front .select-word .prayers.show,
#front .select-word .textarea.show {
	display: block;
}*/
#front .select-word .textarea textarea {
	background: none;
	background-color: transparent;
	border: none;
	text-align: center;
	outline: none;
	resize: none;
	width: 100%;
	height: 120px;
}
@media only screen and (max-width: 500px) {
	#front .select-word .result {
		/*padding-bottom: 4%;
		padding-top: 42%;*/
		width: 90vw;
		top: 33%;
	}
	#front .select-word .share {
		top: 58%;
	}
	#front .select-word .txt {
		margin-top: 6px;
	}
}
/*@media only screen and (-webkit-min-device-pixel-ratio: 2) and (min-device-width: 414px) and (min-device-height: 622px) {
	#front .select-word .result {
		padding-top: 36%;
		color: red;
	}
}*/



#othermask {
	position: fixed;
	left: 0;
	top: 0;
	width: 100vw;
	height: 100vh;
	cursor: pointer;

	visibility: hidden;
}
#other {
	transform: translate(-50%, -50%);
	font-family: var(--ff-head);
	position: absolute;
	left: 50%;
	top: 50%;

	visibility: hidden;
}
#other .top {
	justify-content: space-between;
	padding-bottom: 10px;
	padding-right: 15px;
	padding-left: 16px;
	align-items: baseline;
	display: flex;
}
#other .name {
	/*font-weight: bold;*/
	/*font-size: var(--fs-main);*/
	max-width: 100px;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	display: inline-block;
}
#other .num {
	letter-spacing: .1px;
	font-size: 10px;
	color: #767676;
}
#other .box {
	background-color: rgba(255, 255, 255, .75);
	display: flex;
	padding: 18px;
	flex-direction: column;
}
#other .pic {
	display: flex;
	align-items: center;
}
#other .pic .knot {
	margin-bottom: 8px;
	width: 42px;
}
#other .visitor {
	font-size: var(--fs-main);
	font-weight: bold;
	margin-left: 12px;
	text-transform: uppercase;
	max-width: 150px;
}
#other .name {
	vertical-align: text-bottom;
	color: rgba(0, 0, 0, .25);
}
#other .region {
	/*word-break: break-all;*/
	vertical-align: text-bottom;
	display: inline;
	color: black;
}
#other .reg {
	display: inline;
}
#other .lines {
	white-space: nowrap;
	padding-right: 8px;
	padding-left: 1px;
	line-height: 1.25;
	text-align: left;
	padding-top: 6px;
}