@font-face {
	font-family: 'Helvetica Now';
	src: url('../fonts/helvetica-now/bold.eot');
	src: url('../fonts/helvetica-now/bold.eot?#iefix') format('embedded-opentype'),
		url('../fonts/helvetica-now/bold.woff2') format('woff2'),
		url('../fonts/helvetica-now/bold.woff') format('woff'),
		url('../fonts/helvetica-now/bold.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
	font-stretch: normal;
}
@font-face {
	font-family: 'Helvetica Now';
	src: url('../fonts/helvetica-now/regular.eot');
	src: url('../fonts/helvetica-now/regular.eot?#iefix') format('embedded-opentype'),
		url('../fonts/helvetica-now/regular.woff2') format('woff2'),
		url('../fonts/helvetica-now/regular.woff') format('woff'),
		url('../fonts/helvetica-now/regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
	font-stretch: normal;
}
@font-face {
	font-family: 'Trade Gothic';
	src: url('../fonts/trade-gothic/bold.eot');
	src: url('../fonts/trade-gothic/bold.eot?#iefix') format('embedded-opentype'),
		url('../fonts/trade-gothic/bold.woff2') format('woff2'),
		url('../fonts/trade-gothic/bold.woff') format('woff'),
		url('../fonts/trade-gothic/bold.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
	font-stretch: normal;
}
@font-face {
	font-family: 'Trade Gothic';
	src: url('../fonts/trade-gothic/regular.eot');
	src: url('../fonts/trade-gothic/regular.eot?#iefix') format('embedded-opentype'),
		url('../fonts/trade-gothic/regular.woff2') format('woff2'),
		url('../fonts/trade-gothic/regular.woff') format('woff'),
		url('../fonts/trade-gothic/regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
	font-stretch: normal;
}

:root {
	--ff-text: 'Helvetica Now', Helmet, Freesans, Arial, sans-serif;
	--ff-head: 'Trade Gothic', Helmet, Freesans, Arial, sans-serif;
	--fs-head: 21px;
	--fs-main: 14px;
	--fs-large: 16px;
	--color-bg: #FBFBFB;
	--color-fg: black;
}

html {
	box-sizing: border-box;
}

*,
*::before,
*::after {
	box-sizing: inherit;
}

body {
	font-family: var(--ff-text);
	font-size: var(--fs-main);
	background-color: var(--color-bg);
	line-height: 1.15;
	position: relative;
	color: var(--color-fg);
}

a { color: var(--color-fg); text-decoration: none }
a:hover { color: var(--color-fg) }
a:link { -webkit-tap-highlight-color: transparent } 

::-moz-selection { background-color: var(--color-fg); color: var(--color-bg); text-shadow: none }
::selection { background-color: var(--color-fg); color: var(--color-bg); text-shadow: none } 

::-webkit-input-placeholder { transition: opacity .1s cubic-bezier(.2, .84, .83, 1.01); color: var(--color-fg) }
::-moz-placeholder { transition: opacity .1s cubic-bezier(.2, .84, .83, 1.01); color: var(--color-fg) }
:-ms-input-placeholder { transition: opacity .1s cubic-bezier(.2, .84, .83, 1.01); color: var(--color-fg) }
:-moz-placeholder { transition: opacity .1s cubic-bezier(.2, .84, .83, 1.01); color: var(--color-fg) }

input:-moz-placeholder { color: var(--color-fg) }
textarea:-moz-placeholder { color: var(--color-fg) }

p {
	margin: 0;
}

img,
svg {
	vertical-align: bottom;
	max-width: 100%;
}

.ref-svg {
	position: fixed;
	left: -200vw;
}
.logo.amnesty .st0 {
	fill: var(--color-fg);
}
.logo.amnesty .st1 {
	fill: var(--color-bg);
}
.logo.amnesty:hover .st0 {
	fill: #FFFF00;
}
.logo.amnesty:hover .st1 {
	fill: var(--color-fg);
}



.head {
	font-family: var(--ff-head);
	letter-spacing: .2px;
	font-weight: bold;
	font-size: var(--fs-head);
}



.knot {

}
/*.knot-shape .line {
	stroke: #525252;
	stroke-width: .25;
	stroke-miterlimit: 10;
}*/
.knot-shape .st1 {
	fill: #009f3d;
}
.knot-shape .st2 {
	fill: #f4c300;
}
.knot-shape .st3 {
	fill: #df0024;
}
.knot-shape .st4 {
	fill: #0085c7;
}
/*.knot-shape .st1,
.knot-shape .st2,
.knot-shape .st3,
.knot-shape .st4 {
	fill: white;
	stroke: #525252;
	stroke-width: .25;
}*/



/* start mask */
#mask.hide {
	transition: visibility .7s ease-out, opacity .7s ease-out;
	visibility: hidden;
	opacity: 0;
}
/* start mask */



/* start landing */
.landing {
	justify-content: center;
	align-items: center;
	text-align: center;
	position: absolute;
	overflow: hidden;
	display: flex;
	height: 100vh;
	width: 100%;
	left: 0;
	top: 0;
}
html.enter .landing {
	visibility: hidden;
}
.landing .btn.enter {
	display: inline-block;
	padding: 40px 60px;
	line-height: 1;
}
.landing .btn.enter .inner {
	border: 1px solid var(--color-fg);
	padding-bottom: 15px;
	text-align: center;
	position: relative;
	padding-top: 24px;
	width: 150px;
}
.landing .btn.enter .inner::before {
	transition: transform .25s ease-out;
	background-color: var(--color-fg);
	transform-origin: top;
	transform: scaleY(0);
	position: absolute;
	content: ' ';
	height: 100%;
	width: 100%;
	left: 0;
	top: 0;
}
.landing .btn.enter:hover .inner::before {
	transform: scale(1);
}
.landing .btn.enter .text {
	transition: transform .25s ease-out, color .25s ease-out;
}
.landing .btn.enter:hover .text {
	transform: scale(1.15);
	color: var(--color-bg);
}
.landing .desc {
	line-height: 1.55;
	max-width: 430px;
}
.landing .link {
	transform: translateX(-50%);
	position: absolute;
	bottom: 55px;
	left: 50%;
}

.landing .musubi {
	margin-bottom: 14px;
	position: relative;
	margin-top: 42px;
}
.landing .musubi .line,
.landing .musubi .line-color {
	position: absolute;
	height: 100%;
	width: 100%;
	left: 0;
	top: 0;
}
.landing .musubi .line::before,
.landing .musubi .line::after,
.landing .musubi .line-color::before,
.landing .musubi .line-color::after {
	background: url('../images/line.svg') repeat-x;
	position: absolute;
	content: ' ';
	height: 100%;
	width: 50vw;
	top: 0;
}
.landing .musubi .line::before {
	right: 50%;
}
.landing .musubi .line::after {
	left: 50%;
}
.landing .musubi .line-color::before,
.landing .musubi .line-color::after {
	transform: scaleX(0);
}
.landing .musubi .line-color::before {
	background-image: url('../images/line-left.svg');
	transform-origin: right;
	right: 50%;
}
.landing .musubi .line-color::after {
	background-image: url('../images/line-right.svg');
	transform-origin: left;
	left: 50%;
}
.landing .knot {
	position: relative;
}
/* end landing */



/* start main */
.main {
	--b: 55px;
	position: absolute;
	padding: var(--b);
	height: 100vh;
	width: 100%;
	left: 0;
	top: 0;

	visibility: hidden;
}
html.enter .main {
	visibility: visible;
}
@media only screen and (max-height: 840px) {
	.main {
		--b: 30px;
	}
}
.main .contain {
	text-align: center;
	position: relative;
	height: 100%;
}



.main .btn-create {
	background-color: #FFFF00;
	padding: 24px 20px 16px;
	text-align: center;
	position: fixed;
	min-width: 150px;
	cursor: pointer;
	line-height: 1;
	right: var(--b);
	top: var(--b);
}

.main .link.amnesty {
	position: fixed;
	bottom: var(--b);
	right: var(--b);
}

.main .part-about {
	margin-bottom: -8px;
	text-align: left;
	position: fixed;
	bottom: var(--b);
	left: var(--b);
}
.main .part-about .hash-tags {
	font-size: var(--fs-main);
	padding-bottom: 16px;
	line-height: 1.4;
}
.main .part-about .hash-tag {
	color: #767676;
}

.main .part-site {
	text-align: left;
	position: fixed;
	top: var(--b);
	left: var(--b);
}
.main .part-site-identity {
	align-items: flex-end;
	line-height: 1;
	display: flex;
}
.main .part-site-identity .knot {
	margin-right: 10px;
	margin-top: -5px;
	width: 39px;
}
.main .part-site .temp {
	margin-top: 30px;
	max-width: 260px;
	font-size: var(--fs-large);
	color: #B3B3B3;
	text-transform: uppercase;
	letter-spacing: .1px;
	line-height: 1.3;
}
/* end main */



#globe {
	max-width: 100%;
	width: 840px;
}
@media only screen and (min-height: 841px) {
	#globe {
		transform: translate(-50%, -50%);
		position: absolute;
		left: 50%;
		top: 50%;
	}
}
@media only screen and (max-height: 840px) {
	#globe {
		display: inline-block;
		position: relative;
	}
}
#globeSvg {
	vertical-align: top;
	height: auto;
	width: 100%;
}
@media only screen and (max-height: 840px) {
	#globeSvg {
		margin-top: calc(var(--b) * -1);
		height: 100vh;
		width: auto;
	}
}
#globe .graticule,
#globe .outline {
	stroke-opacity: 1;
	stroke-width: .25;
	stroke: #525252;
	fill: none;
}
#globeSvg .ball {
/*	pointer-events: none;
	opacity: .25;*/
}
#globeSvg .ball .dots {
	mask: url(#gradientMask);
	/*fill: url(#radialGradientColor);*/
}
#globeSvg .ball .dot:not(.hide) {
	fill: #ccc;
	animation: example 20s linear 0s infinite alternate;
}
#globeSvg .ball .dot:not(.hide):hover {
	fill: red;
}
@keyframes example {
	0% { fill: yellow; }
	14% { fill: orange; }
	28% { fill: red; }
	42% { fill: green; }
	58% { fill: indigo; }
	72% { fill: blue; }
	100% { fill: purple; }
}
#globeSvg .ball .hide {
	pointer-events: none;
	fill: transparent;
}
#globe .result {
	background-color: white;
	transform: translate(-50%, -50%);
	position: absolute;
	padding: 60px 120px;
	white-space: nowrap;
	left: 50%;
	top: 50%;
}
#globe .select-word {
	transform: translate(-50%, -50%);
	position: absolute;
	left: 50%;
	top: 50%;

	visibility: hidden;
}
#globe .select-word .message p+p {
	margin-top: 12px;
}
#globe .selecteds {
	display: inline-flex;
	margin-top: 30px;
	color: #B3B3B3;
}
#globe .selected {
	position: relative;
	margin: 0 13px;
	padding-left: 18px;
}
#globe .selected::before {
	background-color: #B3B3B3;
	position: absolute;
	content: ' ';
	bottom: 2px;
	height: 1px;
	width: 100%;
	left: 0;
}
#globe .selected .close {
	position: absolute;
	cursor: pointer;
	font-size: 0;
	height: 20px;
	width: 20px;
	left: 0;
	top: 0;
}
#globe .selected .close::before,
#globe .selected .close::after {
	background-color: #9e9e9e;
	display: block;
	content: ' ';
	height: 1px;
	width: 10px;
}
#globe .selected .close::before {
	transform: translateY(9px) rotate(45deg);
}
#globe .selected .close::after {
	transform: translateY(-11px) rotate(-45deg);
	margin-top: 19px;
}
#globeSvg .keywords {
	font-family: var(--ff-head);
	font-weight: bold;
	font-size: 14px;
	color: #525252;
}
#globeSvg .keyword {
	transition: opacity .25s ease-out;
}
#globeSvg .keywords:not(.disable) .keyword {
	cursor: pointer;
}
#globeSvg .keyword:hover {
	opacity: .8;
}
#globeSvg .keyword.on {
	opacity: .25;
}
#globeSvg .keyword .text {
	transition: transform .25s ease-out;
}
#globeSvg .keyword:hover .text {
	transform: translateX(-2px) scale(1.05);
}